.Button {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  
  font-size: 4rem;

  background-color: blue;
  opacity: 1;

  &:hover {
    color: black;
    box-shadow: 0 0 15px black;
  }
}

.Explain {
  background-color: red;
}